<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cu.aotain.osmp.task.mapper.IdcHouseCodeLibMapper">


    <select id="getIdcHouseCodeLibModelAll" resultType="cu.aotain.osmp.task.model.IdcHouseCodeLibModel">
       SELECT HOUSE_NODE_CODE AS houseNodeCode
       ,DATA_CENTER_CODE AS dataCenterCode
       ,DATA_CENTER_NAME AS dataCenterName
       ,IDENTITY AS identity
       ,wm_concat(SUBORDINATE_UNIT) AS subordinateUnit
        FROM IDC_HOUSE_CODE_LIB WHERE IDENTITY =1 GROUP BY HOUSE_NODE_CODE,DATA_CENTER_CODE,DATA_CENTER_NAME,IDENTITY
    </select>

    <select id="getIdcHouseCodeLibModelByNodeCode" parameterType="java.lang.String"
            resultType="cu.aotain.osmp.task.model.IdcHouseCodeLibModel">
        SELECT HOUSE_NODE_CODE AS houseNodeCode
        ,DATA_CENTER_CODE AS dataCenterCode
        ,DATA_CENTER_NAME AS dataCenterName
        ,IDENTITY AS identity
        ,wm_concat(SUBORDINATE_UNIT) AS subordinateUnit
        FROM IDC_HOUSE_CODE_LIB WHERE HOUSE_NODE_CODE=#{houseNodeCode} AND IDENTITY =1 GROUP BY HOUSE_NODE_CODE,DATA_CENTER_CODE,DATA_CENTER_NAME,IDENTITY
    </select>

</mapper>