<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cu.aotain.osmp.task.mapper.IdcIsmsIpLibMapper">

    <select id="findIpv4QueryCondition"  resultType="cu.aotain.osmp.task.model.ReqQuery">
        select STARTIP AS startIp,ENDIP AS endIp,'全部' AS status,3 AS retFilter
        FROM IDC_ISMS_IP_LIB
        WHERE IP_TYPE = 1
    </select>

</mapper>